@import url(https://fonts.googleapis.com/css?family=Google+Sans:regular,500,600,700,italic,500italic,600italic,700italic);
@import "tailwindcss";

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-googleSans {
  font-family: "Google Sans", sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.Hero-Section {
  background: linear-gradient(to top right, #ffffff 0%, #eaeaf9 100%);
}

body {
  font-family: var(--font-sans);
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightOutside {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeftOutside {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottomOutside {
  from {
    transform: translateY(140%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs {
  width: 100%;
}

.thodaaur-text {
  padding-bottom: 250px;
}

@media (min-width: 361px) {
  .thodaaur-text {
    padding-bottom: 200px;
  }
}

@media (min-width: 444px) {
  .thodaaur-text {
    padding-bottom: 200px;
  }
}

@media (min-width: 600px) {
  .thodaaur-text {
    padding-bottom: 150px;
  }
}

@media (min-width: 722px) {
  .thodaaur-text {
    padding-bottom: 100px;
  }
}

@media (min-width: 822px) {
  .thodaaur-text {
    padding-bottom: 50px;
  }
}

@media (min-width: 906px) {
  .thoda-container {
    height: 250px;
  }
}

@media (min-width: 1068px) {
  .thoda-container {
    height: 350px;
  }

  .thoda-content {
    top: 100px;
  }
}

.expert {
  display: flex;
  flex-direction: column;
}

@media (min-width: 820px) {
  .expert {
    flex-direction: row;
  }
}